<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"><h3 class="text-center"><strong>Developpeur Web/Systeme</strong><br />
	<small><em>Expert en technologie de l'information</em></small></h3></div>
</div><br /><br />
<div class="panel panel-default">
  <div class="panel-heading"><h3>Formation</h3></div>
  <div class="panel-body">
    <h5>
		<ul>
			<li>EPITECH, <small>Paris <em>(2007-2014)</em></small><br />Expert en Technologie de l'information</li><br />
			<li>Lycée Adolphe Chérioux, <small>Vitry sur Seine <em>(2004-2007)</em></small><br />BAC STI Electrotechnique</li>
		</ul>
	</h5>
  </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h3>Experience Professionnelle</h3></div>
	<div class="panel-body"><h5>
		<ul>
			<li>Developpeur Web <small><em>(Juin 2009- Novembre 2009)</em></small><br />Mairie de Vitry sur Seine</li>
		</ul>
	</h5></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h3>Compétences</h3></div>
	<div class="panel-body"><h5>
		<div class="row">
			<div class="col-md-4">
				<strong>Web :</strong><br /><br />
				<ul>
					<li>
						HTML(5) <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						PHP <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						CSS <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						JavaScript/ECMAScript <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						JSP/JSF <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<strong>Systeme :</strong><br /><br />
				<ul>
					<li>
						C <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						C++ <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						C# <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						Java <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<strong>Framework/Library :</strong><br /><br />
				<ul>
					<li>
						NodeJS <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						AngularJS <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						SocketIO <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						Bootstrap <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						Yeoman (Yo, Bower, Grunt) <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						Smarty <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						Qt <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty">
					</li>
					<li>
						Boost <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						WPF <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
				</ul>
			</div>
		</div><br /><br />
		<div class="row">
			<div class="col-md-4">
				<strong>Base de données :</strong><br /><br />
				<ul>
					<li>
						MySQL <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						PostgreSQL <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
					<li>
						MongoDB <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<strong>Administration Systeme :</strong><br /><br />
				<ul>
					<li>
						LAMP/WAMP
					</li>
					<li>
						Serveurs DNS/SSH/MAIL 
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<strong>Outils :</strong><br /><br />
				<ul>
					<li>
						Controle de versions : SVN/GIT
					</li>
					<li>
						IDE : Visual Studio, Emacs, Netbeans, Sublime Text
					</li>
				</ul>
			</div>
		</div>
	</h5></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h3>Langues</h3></div>
	<div class="panel-body"><h5>
		<ul>
			<li>Anglais : Courant (TOEIC : 840)</li>
			<li>Espagnol : Notions</li>
		</ul>
	</h5></div>
</div>