
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h3 class="text-center">
			<strong>Developpeur Web/Systeme</strong><br />
			<small><em>Expert en technologie de l'information</em></small></h3>
		</div>
	</div><br /><br />
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Sylvain Tissier</h4>
				</div>
				<div class="panel-body">
				    <h5>
						Date de naissance : 27/04/89<br />
						Statut : &Eacute;tudiant<br />
						Disponible : Oui; Paris et Région Parisienne<br />
						Permis B<br />
						Localisation :<br /><br />
						<google-map center="map.center" zoom="map.zoom"><marker coords='map.center'>
						</marker></google-map>
						
					</h5>
				  </div>
				</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Reseaux</h4>
				</div>
				<div class="panel-body">
				    <h5>
						<ul class="list-inline">
							<li><a href="http://fr.linkedin.com/in/sylti/"><img src="./images/linkedin.png" height="30" width="30" /></a></li>
							<li><a href="http://www.viadeo.com/fr/profile/sylvain.tissier5"><img src="./images/viadeo.jpg" height="30" width="30" /></a></li>
							<li><a href="http://www.github.com/SylTi/"><img src="./images/Github-Mark.png" height="30" width="30" /></a></li>
						</ul>
					</h5>
				  </div>
				</div>
		</div>
	</div>
	<div class="row styledLI">
		<div class="col-md-5">
			<div class="panel panel-primary">
			  <div class="panel-heading"><h4>Formation</h4></div>
			  <div class="panel-body">
			    <h5>
					<ul>
						<li> EPITECH, <small>Paris <em>(2007-2014)</em></small><br />Expert en Technologie de l'information</li><br />
						<li> Lycée Adolphe Chérioux, <small>Vitry sur Seine <em>(2004-2007)</em></small><br />BAC STI Electrotechnique</li>
					</ul>
				</h5>
			  </div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><h4>Experience Professionnelle</h4></div>
				<div class="panel-body"><h5>
					<ul>
						<li> Developpeur Web <small><em>(Juin 2009- Novembre 2009)</em></small><br />Mairie de Vitry sur Seine</li>
					</ul>
				</h5></div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><h4>Langues</h4></div>
				<div class="panel-body"><h5>
					<ul>
						<li>Anglais : Courant (TOEIC : 840)</li>
						<li>Espagnol : Notions</li>
					</ul>
				</h5></div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4>Compétences</h4></div>
				<div class="panel-body"><h5>
					<div class="row">
						<div class="col-md-4">
							<strong>Web :</strong><br /><br />
							<ul>
								<li>
									HTML(5)<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									PHP <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									CSS <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									JavaScript/ECMAScript <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									JSP/JSF <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>Systeme :</strong><br /><br />
							<ul>
								<li>
									C <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									C++ <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									C# <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									Java <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>Framework/Library :</strong><br /><br />
							<ul>
								<li>
									NodeJS <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									AngularJS <br /><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									SocketIO <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									Bootstrap <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									Yeoman (Yo, Bower, Grunt) <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									Smarty <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									Qt <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty">
								</li>
								<li>
									Boost <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									WPF <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
							</ul>
						</div>
					</div><br /><br />
					<div class="row">
						<div class="col-md-4">
							<strong>Base de données :</strong><br /><br />
							<ul>
								<li>
									MySQL <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									PostgreSQL <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
								<li>
									MongoDB <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon glyphicon-star-empty"></span>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>Administration Systeme :</strong><br /><br />
							<ul>
								<li>
									LAMP/WAMP
								</li>
								<li>
									Serveurs DNS/SSH/MAIL 
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>Outils :</strong><br /><br />
							<ul>
								<li>
									Controle de versions : SVN/GIT
								</li>
								<li>
									IDE : Visual Studio, Emacs, Netbeans, Sublime Text
								</li>
							</ul>
						</div>
					</div>
				</h5></div>
			</div>
		</div>
</div>
